services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres  
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./database.sql:/docker-entrypoint-initdb.d/database.sql
    ports:
      - "5432:5432"

  backend:
    build: ./server
    ports:
      - "5000:5000"
    env_file:        # Add this section
      - .env
    environment:
      - DB_USER=postgres
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=${POSTGRES_DB}
    depends_on:
      - db

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - backend